
<%= erb :"shared/head" %>

<div class="container">

  <%= erb :"shared/page_header" %>

  <div class="content">

    <h2>BIO</h2>
    <p>
      I am a <a href="https://www.theguardian.com/profile/leach-anna" target="_blank">developer at the Guardian</a> working 
      with Javascript, AWS and data visualisations.
    <p>
      I previously worked as an Interactives Developer at the <a href="https://www.ft.com/anna-leach" target="_blank">Financial Times</a>,
      building data visualisations and graphics. In my first dev job I worked at 
      Zopa, a peer-to-peer lending platform,
      with Ruby, Javascript and HTML/CSS.
    </p>
    <p>
      Before that I was a journalist: the editor of
      <a href="http://www.mirror.co.uk/news/ampp3d/" target="_blank">Ampp3d</a>, a multimedia data journalism site that was part of the Mirror.
      <a href="/blog/9-things-i-learned-from-trying-to-do-mainstream-data-journalism.html" target="_blank">This is what I learned there</a>.
    </p>
    <p>
      In 2013-14 I worked as an online reporter at 
      <a href="http://www.channel4.com/news/anna-leach" target="_blank">Channel 4 News</a>, 
      and was previously a technology reporter for the Wall Street Journal and the Register.
      I have made short documentary about a gay bar
      <a href="https://www.channel4.com/programmes/the-only-gay-bar-in-the-village" target="_blank"> bridging the 
      sectarian divide</a>  in Northern Ireland.</a>
    </p>

    <h2>PROJECTS</h2>
    <h3><a href="http://random-brit-generator.s3-website-eu-west-1.amazonaws.com" target="_blank">Generate a Brit based on demographic data</a></h3>
    <h3><a href="https://colour-blocks.s3-eu-west-1.amazonaws.com/index.html" target="_blank">Colour re-organising on photos</a></h3>
    <h3><a href="https://ajwl.github.io/drawing-lines/" target="_blank">Drawing lines with HTML canvas</a></h3>

    <h3>CSS layout, 3 ways:
      <a href="https://htmlpreview.github.io/?https://github.com/ajwl/holy-grail-3-ways/blob/master/float/float.html" target="blank">float & block</a>;
      <a href="https://htmlpreview.github.io/?https://github.com/ajwl/holy-grail-3-ways/blob/master/flexbox/grail.html" target="_blank">flexbox</a>;
      <a href="https://htmlpreview.github.io/?https://github.com/ajwl/holy-grail-3-ways/blob/master/grid/grail.html" target="_blank">grid</a>
    </h3>

    <h2><a href="/blog">BLOG</a></h2>

    <%= excerpts %>

    <p><a href="/blog">All blog posts...</a></p>

  </div>
</div>

<%= erb :"shared/footer" %>
