
<%= erb :"shared/head" %>

<div class="container">

  <%= erb :"shared/page_header" %>

  <div class="content">

    <h2><a href="/blog">BLOG</a></h2>

    <%= excerpts %>

    <p><a href="/blog">All blog posts...</a></p>

    <h2>BIO</h2>
    <p>
      I am currently an Interactives Developer working on the <a href="https://www.ft.com/anna-leach">FT.com site</a>,
      building story-based interactives and data visualisations, with Node.js and d3.
    </p>
    <p>
      Previously I was a developer at <a href="http://www.zopa.com" target="_blank">Zopa</a>, a peer-to-peer lending platform.
      where I worked with Ruby, Javascript and HTML/CSS to take data from APIs right up to the user interface.
      I integrated internal and external APIs, written a private gem, & worked with Rails and
      Sinatra.
    </p>
    <p>
      Before becoming a developer I managed a section of a national news site for a year, as the editor of
      <a href="http://www.mirror.co.uk/news/ampp3d/">Ampp3d</a>, a multimedia data site that was part of the Mirror.
      <a href="/blog/9-things-i-learned-from-trying-to-do-mainstream-data-journalism.html">This is what I learned there</a>. I ran a team of 5 writers, graphicists and a developer to pull off scoops, produce
      visual tabloid-friendly data journalism and several kooky javascript widgets.
    </p>
    <p>
      In 2013-14 I worked as an online reporter / producer at <a href="http://www.channel4.com/news/anna-leach">Channel 4 News</a>.
      I wrote a bunch of news stories and made a short documentary about a gay bar bridging the sectarian divide in Northern Ireland.
    </p>
    <p>
      I was previously a technology reporter for the Wall Street Journal, and worked for 2 years on the Register
      scooping the tech problems behind the RBS/Natwest banking software glitch that affected 17 million people.
    </p>

    <h2>PROJECTS</h2>
    <h3><a href="https://spinning-playlist.herokuapp.com/" target="_blank">Spinning Playlist</a></h3>

    <h3><a href="http://jaspalsvoice.co.uk/" target="_blank">Jaspals Voice</a></h3>

    <h3>CSS layout, 3 ways:
      <a href="https://htmlpreview.github.io/?https://github.com/ajwl/holy-grail-3-ways/blob/master/float/float.html" target="blank">float & block</a>;
      <a href="https://htmlpreview.github.io/?https://github.com/ajwl/holy-grail-3-ways/blob/master/flexbox/grail.html" target="_blank">flexbox</a>;
      <a href="https://htmlpreview.github.io/?https://github.com/ajwl/holy-grail-3-ways/blob/master/grid/grail.html">grid</a>
    </h3>

    <h3><a href="http://htmlpreview.github.io/?https://github.com/ajwl/moving-graphs/blob/master/d3.html" target="blank">Moving Graphs</a></h3>
    <h3><a href="http://htmlpreview.github.io/?https://github.com/ajwl/painkiller/blob/master/index.html" target="_blank">Graphing the UK's painkiller use</a></h3>

  </div>

</div>

<%= erb :"shared/footer" %>
