/* ---------------  SHARED ---------------  */

@font-face {
  font-family: 'Roboto_Condensed';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
html {
  margin: 0;
  height: 100%;
}

h1, h2, h3,
h2 a,
h3 a {
  font-family: 'Roboto_Condensed', sans-serif;
}

p, li,
p a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.5em;
  margin: 0 0 .2em 0;
}

a svg:hover #twitter,
a svg:hover #github,
a svg:hover #linkedin {
 fill: #32CD32;
}

body {
  position: static;
  margin: 0;
  border-left: 10px solid #32CD32;
  min-height: 100%;
}
.content {
  margin: 0 20%;
}
a {
  color: #cd32cd;
}
ul {
  list-style: none;
  padding-left: 0;
}
header a{
  text-decoration: none;
}

a:visited {
  color: #3232cd;
}

header svg {
  width: 1.5em;
  padding-right: 1em;
}

/* ---------------  BLOG ---------------  */

/* BLOG STYLES */

.blog-post h1 {
  font-size: 2.5em;
  margin: 0 0 .2em 0;
}
.blog-post .meta {
  margin: 0 20%;
}
.blog-post em {
  display: block;
  font-size: .7em;
}

/* BLOG HEADER */
header #blog-title {
  max-width: 4em;
  margin-left: 5%;
  position: fixed;
  background-color: #32CD32;
  padding: .2em;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
}
header #blog-title:hover {
  background-color: #cd32cd;
}

header #blog-title a {
  color: #ffffff;
  font-family: 'Roboto_Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

@media(max-width: 500px){
  .blog-post .content {
    margin: 1% 5%;
  }
  .blog-post .meta {
    margin: 0 5%;
  }
  header #blog-title {
    position: static;
  }
}



